*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12pt;
  font-family: "Ysabeau Infant", sans-serif;
}
nav{
  height: 60px;
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
nav a:hover{
  background-color: blanchedalmond;
}
nav .home-link{
  margin-right: auto;
}
nav img{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-active , .close-sidebar-active{
  padding: 0 20px;
  display: none;
}
@media(max-width: 450px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px 0 0 0 0.25;
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-active , .close-sidebar-active{
    display: block;
    padding: 20px;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    background: red;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}