* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
}

#nav-bar {
  overflow-x: hidden;
}

#nav-bar .offcanvas {
  max-width: 49%;
}

#names {
  margin: 60px 139px;
}

#names h4 {
  width: 50%;
  font-size: 55px;
  font-family: "Cedarville Cursive", cursive;
}

#nav-bar .navbar {
  height: 100px;
  background-color: lightgray;
}

#nav-bar .navbar-expand-lg .navbar-nav {
  margin: 0px 450px;
  flex-direction: row;
}

#nav-bar .nav-item {
  padding: 0px 10px 0px 0px;
}

#nav-bar .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
}

#nav-bar .nav-link:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

#introduction {
  overflow-x: hidden;
  margin-top: 60px;
}

#introduction .col-lg-6 {
  margin: 0px 0px 0px 0px;
}

.col-10 img {
  width: 84%;
  margin-left: -119px;
  border-radius: 202px;
}

#introduction .lead {
  font-weight: 300;
  font-size: 22px;
  font-family: "Ysabeau Infant", sans-serif;
}

#introduction .mb-3 img {
  padding: 10px;
}

#Experience {
  margin-top: 60px;
}

.owl-carousel {
  margin-top: 20px;
}

#Experience .card {
  background-color: lightblue;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

#Experience .card img {
  margin: 0 auto;
  max-width: 60%;
  border-radius: 8px;
}

#Experience .card-content {
  display: none;
}

#Experience .show-more {
  cursor: pointer;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

#Experience .owl-carousel .owl-item img {
  width: 20%;
}

#Experience .card p {
  font-size: 20px;
}

#Experience .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#Experience .owl-prev,
#Experience .owl-next {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px; /* Set a common font size for both icons */
}

#Experience .owl-prev {
  margin-top: 10px;
  left: 10px;
}

#Experience .owl-next {
  margin-top: 10px;
  right: 10px;
}

#Experience .owl-prev:hover,
#Experience .owl-next:hover {
  color: #0056b3;
}

/* Extra Large Devices (min-width: 1201px) */
@media (min-width: 1201px) {
  #nav-bar {
    overflow-x: hidden;
  }
  #nav-bar .offcanvas {
    max-width: 49%;
  }
  #names {
    margin: 60px 139px;
  }
  #names h4 {
    width: 50%;
    font-size: 55px;
    font-family: "Cedarville Cursive", cursive;
  }
  #nav-bar .navbar {
    height: 100px;
    background-color: lightgray;
  }
  #nav-bar .navbar-expand-lg .navbar-nav {
    margin: 0px 345px;
    flex-direction: row;
  }
  #nav-bar .nav-item {
    padding: 0px 10px 0px 0px;
  }
  #nav-bar .nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
  #nav-bar .nav-link:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
  }
  #introduction {
    overflow-x: hidden;
    margin-top: 60px;
  }
  #introduction .col-lg-6 {
    margin: 0px 0px 0px 0px;
  }
  .col-10 img {
    width: 70%;
    margin-left: 10px;
    border-radius: 202px;
  }
  #introduction .lead {
    font-weight: 300;
    font-size: 22px;
    font-family: "Ysabeau Infant", sans-serif;
  }
  #introduction .mb-3 img {
    padding: 10px;
  }
}

/* Large Devices (min-width: 993px) and (max-width: 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  #nav-bar {
    overflow-x: hidden;
    width: 100.6%;
  }
  #nav-bar .navbar-expand-lg .navbar-nav {
    margin: 0px 0px;
    flex-direction: row;
  }
  #names h4 {
    margin-left: 35px;
    width: 100%;
    font-size: 50px;
    font-family: "Cedarville Cursive", cursive;
  }
  .col-10 img {
    margin-top: 20px;
    width: 84%;
    margin-left: 43px;
    border-radius: 202px;
  }
  #introduction .mb-3 {
    margin: 80px 0px 0px 0px;
  }
  #nav-bar .nav-item {
    text-align: center;
    padding: 0px 0px 0px 60px;
  }
  #names h4 {
    margin-left: 145px;
    width: 100%;
    font-size: 47px;
    font-family: "Cedarville Cursive", cursive;
  }
}

/* Medium Devices (min-width: 769px) and (max-width: 992px) */
@media (min-width: 769px) and (max-width: 1024px) {
  #nav-bar .navbar-expand-lg .navbar-nav {
    margin: 0px 0px;
    flex-direction: column;
  }
  #nav-bar .nav-item {
    padding: 0px 100px 0px 134px;
  }

  #nav-bar .navbar-brand {
    font-family: "Cedarville Cursive", cursive;
    font-size: 35px;
    margin-left: 7px;
  }
  #names h4 {
    margin-left: 37px;
    width: 100%;
    font-size: 56px;
    font-family: "Cedarville Cursive", cursive;
  }
  .col-10 img {
    margin-top: -35px;
    width: 95%;
    margin-left: 100px;
    border-radius: 202px;
  }
  #introduction .mb-3 {
    margin: 56px 0 0 120px;
  }
  #introduction .lead {
    margin-top: 30px;
    font-weight: 300;
    font-size: 22px;
    font-family: "Ysabeau Infant", sans-serif;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #nav-bar {
    overflow-x: hidden;
    width: 100%;
  }
  #nav-bar .navbar-expand-lg .navbar-nav {
    margin: 0px 0px;
    flex-direction: column;
  }
  #nav-bar .nav-link {
    padding: 0.25rem 0.5rem;
  }
  #nav-bar .nav-link:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
  }
  #names {
    overflow: hidden;
    margin: 54px 26px;
  }
  #names h4 {
    margin-left: 50px;
    width: 100%;
    font-size: 50px;
    font-family: "Cedarville Cursive", cursive;
  }
  .col-10 img {
    margin-top: -35px;
    width: 60%;
    margin-left: 125px;
    border-radius: 202px;
  }
  #introduction .mb-3 {
    margin: 43px 156px 0 135px;
  }
  #introduction .lead {
    margin-top: 30px;
    font-weight: 300;
    font-size: 22px;
    font-family: "Ysabeau Infant", sans-serif;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #nav-bar {
    overflow-x: hidden;
    width: 100%;
  }
  #nav-bar .navbar-expand-lg .navbar-nav {
    margin: 0px 0px;
    flex-direction: column;
  }
  #nav-bar .nav-link {
    padding: 12.25px 11.5px;
  }
  #nav-bar .nav-link:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
  }
  #names {
    overflow: hidden;
    margin: 26px 15px;
  }
  #names h4 {
    margin-left: 0px;
    width: 100%;
    font-size: 35px;
    font-family: "Cedarville Cursive", cursive;
  }
  .col-10 img {
    margin-top: -46px;
    width: 90%;
    margin-left: 40px;
    border-radius: 202px;
}
  #introduction .mb-3 {
    margin: 20px 0px 0px 74px;
  }
  #introduction .lead {
    margin-top: 30px;
    font-weight: 300;
    font-size: 22px;
    font-family: "Ysabeau Infant", sans-serif;
  }
}
